<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Facts</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      text-align: center;
    }

    .fact-container {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>≽^•⩊•^≼ Kitty Facts ≽^•⩊•^≼</h1>
  
  <!-- Display cat facts -->
  <div class="fact-container">
    <h2>All Kitty Facts:</h2>
    <% catFacts.forEach(fact => { %>
      <p><%= fact.fact %></p>
    <% }); %>
  </div>
</body>
</html>